body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  height: 100%;
  width: 100%;
  background: url("background.jpg");
  background-repeat: round;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
}
.navbar {
  background-color: black;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  padding: 15px 30px;
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 500ms ease;
}
.navbar .icon {
  display: none;
}
.navbar a:hover {
  color: black;
  background-color: aliceblue;
}

.toolbar {
  float: left;
  display: flex;
  align-items: stretch;
  width: 90vw;
  margin: 10px;
  background-color: white;
}
.form {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  margin: 10px;
  flex: 1;
  text-align: center;
}

.form button {
  background-color: maroon;
  color: aliceblue;
  font-weight: 500;
  transition: all 500ms ease;
  border: 1px solid white;
}
.form button:hover {
  background-color: aliceblue;
  color: maroon;
  border: 1px solid;
}

.toolbar input {
  background-color: lightgrey;
  border: 1px solid;
  vertical-align: middle;
  border: 1px solid white;
}
.responsive-table {
  width: fit-content;
  max-width: 90vw;
  margin: 20px;
  overflow-x: auto;
}
table {
  background-color: white;
  margin: 0;
}
th,
td {
  border: 2px solid;
}
th {
  background-color: indianred;
  /* color: aliceblue;
  border-color: black; */
}
.delete_tab {
  background-color: red;
  color: white;
  font-size: 7px;
  box-sizing: content-box;
  width: 5px;
  height: 7px;
  transition: all 500ms ease;
  border-radius: 5px;
  border: 1px solid;
}
.delete_tab:hover {
  background-color: black;
}
footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 0.6rem;
  height: 25px;
  padding: 10px;
  background-color: black;
  color: aliceblue;
}
.delete_all {
  background-color: red;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 9px;
}
.video {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 10%;
}
.video h1 {
  color: aliceblue;
}
.video video {
  width: 60%;
}
@media (max-width: 768px) {
  .navbar a {
    display: none;
  }
  .navbar .icon {
    display: block;
  }
  .navbarresponsive {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background-color: black;
    overflow: hidden;
  }
  .navbarresponsive a {
    float: left;
    display: block;
    padding: 15px 30px;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 500ms ease;
  }
  .navbarresponsive a:hover {
    color: black;
    background-color: aliceblue;
  }
  .navbar {
    display: flex;

    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .toolbar {
    flex-flow: column;
    text-align: center;
    width: 60%;
    align-self: center;
  }
  .form {
    flex-flow: column;
    align-items: stretch;
  }
}
